@use "../../styles/colors" as colors;
.homeSection {
  margin: 0 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  margin-top: 2%;
  position: relative;
  border-radius: 15px;
  @media (max-width: 400px) {
    flex-direction: column;
  }
  &__image {
    flex: 1;
    @media (max-width: 400px) {
      width: 80%;
    }
    img {
      max-width: 100%;
      border-radius: 15px;
    }
  }
  &__text {
    @media (max-width: 400px) {
      order: 1;
    }
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    p {
      font-size: 1.6rem;
      line-height: 3rem;
      @media (max-width: 700px) {
        font-size: 1.4rem;
      }
    }
    h1 {
      @media (max-width: 700px) {
        font-size: 2.5rem;
      }
    }
    button {
      padding: 1.5rem 3rem;
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 10px;
      margin-top: 4rem;
      background-color: colors.$color_primery;
      color: colors.$color_white;
      &:hover {
        background-color: colors.$color_secondry;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.432);
      }
      &:active {
        box-shadow: none;
      }
      @media (max-width: 700px) {
        margin-top: 0rem;
        font-size: 1.4rem;
        padding: 1.2rem 2rem;
      }
    }
  }
}
