@use "../../styles/colors" as colors;
.addressList {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  h2 {
    margin: 2rem 0;
    font-size: 2rem;
  }
  &__add {
    width: 100%;
    margin-top: 1rem;
    padding: 4rem 0;
    font-size: 4rem;
    font-weight: 200;
    border: 3px dashed rgba(0, 0, 0, 0.123);
    color: rgba(0, 0, 0, 0.123);
    &:hover {
      border: 3px dashed colors.$color_pink;
      color: colors.$color_pink;
    }
  }
}
