@use "../../styles/colors" as colors;
.orderTopic {
  flex: 0.25;
  border: 1px solid colors.$color_pink;
  padding: 1rem 2rem;
  display: flex;
  border-radius: 10px;
  align-items: center;
  @media (max-width: 1024px) {
    flex: 0.45;
  }
  @media (max-width: 400px) {
    width: calc(100% - 4rem);
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    p {
      font-size: 1.5rem;
      font-weight: 600;
    }
    span {
      font-size: 1.5rem;
      font-weight: 300;
    }
    img {
      width: 15rem;
      height: 25rem;
      object-fit: contain;
      border-radius: 10px;
    }
  }
}
