$color_primery: #4d47a9;
$color_secondry: #7a74d1;
$color_brownish: #302b27;
$color_pink: #b79ced;
$color_pink_dark: #a07178;

$color_black: #000;
$color_white: #ffffff;
$color_red_light: #f74949;
$color_bg_secondry: #f8f8f8;
$color_text_secondry: #585858;
$color_border_gray: #efefef;
$color_link: rgb(0, 183, 255);
$color_link_light: #70d4fc;
