html {
  line-height: 1.15;
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  @media (max-width: 1200px) {
    font-size: 55%;
  }
  @media (max-width: 950px) {
    font-size: 40%;
  }
  @media (max-width: 600px) {
    font-size: 30%;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
main {
  display: block;
}
h1 {
  font-size: 4em;
  @media (max-width: 1200px) {
    font-size: 3.5rem;
  }
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-size: 1em;
}
a {
  background-color: transparent;
  color: unset;
  &:hover,
  &:active {
    color: unset;
    text-decoration: none;
  }
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
img {
  border-style: none;
  pointer-events: none;
  touch-action: none;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  background-color: unset;
  border: none;
}
button,
input {
  overflow: visible;
  &:focus {
    outline: none;
  }
}
button,
select {
  text-transform: none;
  cursor: pointer;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -moz-appearance: button;
  appearance: button;
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  appearance: none;
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  appearance: button;
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; /* Hide the clear button */
}
.Toastify__toast {
  font-size: 16px;
}
*::-moz-scrollbar-track {
  background: white;
}
*::-moz-scrollbar-thumb {
  background-color: #585858;
  border-radius: 10px;
}
*::-moz-scrollbar-button {
  display: none;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #585858;
  border-radius: 10px;
}

*::-webkit-scrollbar-button {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
progress[value] {
  background-color: #bdbdbd;
}

progress::-webkit-progress-bar {
  background-color: #bdbdbd;
}

progress::-webkit-progress-value {
  background-color: #a7bc57;
}

progress::-moz-progress-bar {
  background-color: #a7bc57;
}
.active {
  color: #4d47a9 !important;
  border-bottom: 1px solid #4d47a9;
}
.ant-btn {
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem !important;
  @media (max-width: 600px) {
    font-size: 1.8rem !important;
  }
}
.ant-modal-title {
  font-size: 1.6rem !important;
}
.ant-form-item {
  margin-bottom: 2.4rem;
  @media (max-width: 1024px) {
    margin-bottom: 1.4rem;
    width: calc(50% - 1rem);
    flex: unset !important;
  }
  @media (max-width: 400px) {
    width: 100%;
  }
}

label,
input,
.ant-select-selector,
.ant-select-item,
.ant-input {
  font-size: 1.2rem !important;
  @media (max-width: 950px) {
    font-size: 1.5rem !important;
  }
  @media (max-width: 600px) {
    font-size: 1.8rem !important;
  }
}
.ant-pagination {
  @media (max-width: 950px) {
    scale: 0.8;
    margin-left: 50% !important;
  }
  @media (max-width: 600px) {
    scale: 0.8;
  }
}
.ant-table-cell {
  font-size: 1.4rem !important;
  padding: 1.6rem !important;
  img {
    width: 6rem;
    height: 6rem;
    @media (max-width: 950px) {
      width: 4rem;
      height: 4rem;
    }
  }
  @media (max-width: 950px) {
    font-size: 1.5rem !important;
  }
  @media (max-width: 600px) {
    font-size: 1.6rem !important;
  }
}
.ant-col {
  padding-bottom: 0.8rem;
  @media (max-width: 990px) {
    padding-bottom: 0 !important;
  }
  .ant-upload-list-item-name {
    font-size: 1.4rem !important;
    @media (max-width: 950px) {
      font-size: 1.5rem !important;
    }
    @media (max-width: 600px) {
      font-size: 1.8rem !important;
      padding: 0 0.8rem;
    }
  }
  .ant-upload-list-item {
    @media (max-width: 600px) {
      padding: 0 0.8rem !important;
    }
  }
}
