.detailsForm {
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
  &__head {
    margin-bottom: 2rem;

    font-size: 2rem;
  }
  &__row {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    @media (max-width: 1025px) {
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
    }
  }
}
